*{
    background-color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position:fixed;
    height: 50px;
    Width:100%;
    background-color: darkblue;
}

h1 {
   font-size: 45px;
   text-align: center;
   font-weight: bolder;
   display: block;
   background-color: lightblue;
}

img {
    width: 270px;
    height: 270px;
    border:10px solid;
    border-color:darkblue
}

h2,
h3,
h4 {
    font-weight:bolder
}

.Nav {
    text-align: right;
}

li{
    display:inline;
    right:0%;
    
}

.text-center {
    text-align: center;
    color:red
}
